body {
    height:100%;
}

#map {
    float: left;
    height:400px;
    width:500px;
}

#routePtsDiv {
    float:left;
    width:300px;
    background: rgb(240,240, 240);
    border-style: inset;
    height:100%;
    overflow:auto;
}

#gpxDiv {
    float:left;
    width:300px;
    background: rgb(200,200, 200);
    border-style: outset;
    height:100%;
}