body {
    margin:0;
    font-family:sans-serif;
}

#map {
    width:450px;
    height:450px; 
    float:left;
}

#sidebar {
    float:left;
    padding: 0.5em;
    background-color:#e0e0e0;
    border:1px solid black;
}


