body {
    margin:0;
    font-family:sans-serif;
}

h1 {
    margin:0px;
}
#map {
    width:400px;
    height:400px; 
    float:left;
    border: 1px solid black;
}

#sidebar {
    float:left;
    height:400px;
    width:400px;
    padding: 0.5em;
    background-color:#e0e0e0;
    border:1px solid black;
    font-size:10pt;
}
#accordion {
    height:400px;
}

#sidebar .ui-tabs .ui-tabs-nav li a {font-size:10pt !important;}

